@{
    ViewBag.Title = "Bottom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <style type="text/css">
    html,body,div{margin:0;padding:0;}
    .bottom {
    background-image:url("/images/bottombg.jpg");
    height:25px;
    text-align:center;
    width:100%;
    }
    body {
    color:#000000;
    font-family:"微软雅黑";
    font-size:13px;
    font-weight:500;
    line-height:25px;
    }
</style>
}
<div class="bottom">
    本系统由控制工程网开发，技术支持电话：13910162891（石先生）</div>
