@{
    ViewBag.Title = "你所访问的文件不存在";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <style type="text/css">
        .wrapper{ background-color:#fff;padding:10px;}
        .area-left{float:left;width:120px; margin-left:175px;}
        .area-right{float:right;width:590px; margin-left:56px;}
        .area-right{width:590px;margin-left:56px;}
        .area-right h2{color:#333;font-size:16px;font-weight:bold;}
        .area-right h3{color:#666;}
        .area-right h3 strong{margin:0 6px;color:#a10000;font-weight:bold;}
        .blank0{clear:both;display:block;font-size:1px;visibility:hidden;height:0;line-height:0;}
        .blank5{clear:both;display:block;font-size:1px;overflow:hidden;height:5px;}
        .blank8{clear:both;display:block;font-size:1px;overflow:hidden;height:8px;}
        .blank10{clear:both;display:block;font-size:1px;overflow:hidden;height:10px;}
        .blank12{clear:both;display:block;font-size:1px;overflow:hidden;height:12px;}
        .blank15{clear:both;display:block;font-size:1px;overflow:hidden;height:15px;}
        .blank20{clear:both;display:block;font-size:1px;overflow:hidden;height:20px;}
        .blank25{clear:both;display:block;font-size:1px;overflow:hidden;height:25px;}
        .btn-back{width:85px;height:26px;margin-left:10px;padding-left:18px;background:url(/images/btn-home-bg.gif) no-repeat;color:#fff;border:0;cursor:pointer;}
        .btn-area span,.btn-area input{line-height:26px;float:left;display:inline;}
        .btn-area span{color:#666;}
    </style>
    <script type="text/javascript">
        function lazyBackHome() {
            var sec = $("#sec").text();
            $("#sec").text(--sec);
            if (sec > 0)
                setTimeout("lazyBackHome();", 1000);
            else
                window.location.href = "/";
        }
    </script>
}
<div class="wrapper">
    <div class="area-left">
        <img src="/images/404.gif" alt="" /></div>
    <div class="area-right">
        <span class="blank15"></span><span class="blank15"></span>
        <h2>
            对不起，您要访问的页面暂时没有找到！</h2>
        <span class="blank8"></span>
        <h3>
            将在<strong id="sec">10</strong>秒后自动转入首页。</h3>
        <span class="blank20"></span>
        <div class="btn-area">
            <span>您也可以：</span><input type="button" value="返回首页" class="btn-back" onclick="window.location.href='/'" />
        </div>
    </div>
    <div class="clear"></div>
</div>
@section footer{
    <script type="text/javascript">
        $(document).ready(function () {
            lazyBackHome();
        });
    </script>
}
